<app-navbar1></app-navbar1>

<div class="container">
  <h1 class="text-center"><marquee><i>Front Desk Receptionist</i></marquee></h1>
</div>


<div class="row mb-3">
  <div class="col btn-group">
    <button
      class="btn btn-primary col-6"
      (click)="speech.startListening()"
      [disabled]="speech.listening">
        {{btnLabel}}
    </button>

    

    <button
      class="btn btn-danger col-6"
      (click)="speech.abort()"
      [disabled]="!speech.listening">
        Stop
    </button>
  </div>
</div>

<div class="row" *ngIf="errorMsg">
  <div class="col">
    <p class="alert alert-warning">
      {{errorMsg}}
    </p>
  </div>
</div>

<div [hidden] = "showEmployee">
      <div>
        <h1>The employees with similar names are:</h1>
        <table class="table-striped">
          <tr><td><h2>EmployeeId</h2></td> <td><h2>FirstName</h2></td> <td><h2>LastName</h2></td></tr>
          <tr *ngFor="let employee of employeeData">
              <td><h2>{{employee.id}}</h2></td> <td><h2>{{employee.firstName}}</h2></td> <td><h2>{{employee.lastName}}</h2></td>       
          </tr>
        </table>

        <div>
          <h2><i>{{employeeInfo.email}}</i></h2>
        </div>

      </div>
    </div>
