<app-navbar1></app-navbar1>

<div class="canvasContainer">
<canvas #snapshotCanvas id="snapshotCanvas" width="320" height="240"></canvas>
<video #video id="video" width="320" height="240" autoplay muted></video>
<canvas #canvas id="canvas" width="320" height="240"></canvas>
</div>


<!-- <div class="row" *ngIf="errorMsg">
  <div class="col">
    <p class="alert alert-warning">
      {{errorMsg}}
    </p>
  </div>
</div> -->

<div class="container" [hidden] = "showEmployee" style="float:right;">
        <h1>The employees with similar names are:</h1><br>
        <table class="table table-responsive table-striped table-bordered">
          <tr><td><h2>EmployeeId</h2></td> <td><h2>FirstName</h2></td> <td><h2>LastName</h2></td></tr>
          <tr *ngFor="let employee of employeeData">
              <td><h4>{{employee.id}}</h4></td> <td><h4>{{employee.firstName}}</h4></td> <td><h4>{{employee.lastName}}</h4></td>       
          </tr>
        </table>
        </div>

        <div class="container" style="float:right;padding-top: 100px;">
          <h3 id="emName"></h3>
        </div>

        <div style="float:left; margin-left:600px;" [hidden]="showEmail">
          <h2 id="empema"><i></i></h2>
        </div>
<div style="margin-top:250px;"><br><br>
  <h5><i>The following questions can be handled by the receptionist:</i></h5>
  <table class="table table-responsive table-striped table-bordered"><br>
    <tr><td><h6 >Say Employee followed by the Employee FirstName.</h6></td></tr>
    <tr><td><h6>Say Employee followed by the Employee LastName.</h6></td></tr>
    <tr><td><h6>Say Inform followed by the Employee Id.</h6></td></tr>
    <tr><td><h6>Say Weather Parsippany to check Parsippany Weather.</h6></td></tr>
  </table>
</div>
