<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/employeeProfile" style="color:aliceblue;font-size:20px">My Profile &nbsp;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:aliceblue;font-size:20px" href="/updateEmployeeInformation">Update Personal details &nbsp;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:aliceblue;font-size:20px" href="/updateEmployeeUserInformation">Update Account Information &nbsp;</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" style="color:aliceblue;font-size:20px" (click)="logout()" href="/">Logout</a>
      </li>
    </ul>
  </nav><br>